@charset "utf-8";

/* NEXONLv1 Gothic */
@font-face{
    font-family: 'NEXON Gothic';
    font-weight: 400;
    src:url('../fonts/NEXONLv1GothicLowRegular.eot'),
    url('../fonts/NEXONLv1GothicLowRegular.eot#iefix') format("embedded-opentype"),
    url('../fonts/NEXONLv1GothicLowRegular.woff') format("woff");
}
@font-face{
    font-family: 'NEXON Gothic Bold';
    font-weight: 400;
    src:url('../fonts/NEXONLv1GothicLowBold.eot'),
    url('../fonts/NEXONLv1GothicLowBold.eot#iefix') format("embedded-opentype"),
    url('../fonts/NEXONLv1GothicLowBold.woff') format("woff");
}
@font-face{
    font-family: 'NEXON Gothic Light';
    font-weight: 400;
    src:url('../fonts/NEXONLv1GothicLowLight.eot'),
    url('../fonts/NEXONLv1GothicLowLight.eot#iefix') format("embedded-opentype"),
    url('../fonts/NEXONLv1GothicLowLight.woff') format("woff");
}
