@charset "utf-8";

.cont_area {
    padding: 3rem 0;
}
.tip {
    font-size: 0.9rem;
    opacity: 0.6;
}

@media (max-width: 575.98px) {
    .tip {
        font-size: 1rem;
    }
}

/*============================================================
visual
============================================================*/
.vsl_area {
    overflow: hidden;
    position: relative;
    height: 48rem;
    color: #fff;
    background-color: #FF8A36;
}

.vsl_area .grid {
    height: 100%
}
.vsl_area .txt_box {
    position: relative;
    padding-top: 11.5rem;
}
.vsl_area .tit {
    width: 54.27%;
}
.vsl_area .txt {
    padding-top: 1.75rem;
    font-size: 1.2rem;
    line-height: 1.4;
}
.vsl_area .btn {
    margin-top: 2rem;
}
.vsl_img {
    position: absolute;
}
.vsl_img_1 {
    top: 16.14%;
    right: -18.37%;
    width: 72.05%;
}
.vsl_img_2 {
    bottom: 2.7%;
    left: 41.88%;
    width: 30.77%;
}
.vsl_img_3 {
    top: -10%;
    left: 34%;
    width: 38.97%;
}
.vsl_img_4 {
    top: 8.33%;
    right: 12.39%;
    width: 16.66%;
}

@media (max-width: 991.98px) {
    .vsl_img_3 {
        top: -4%;
    }
}

@media (max-width: 575.98px) {
    .vsl_area {
        height: 70rem;
    }
    .vsl_area .txt_box {
        padding-top: 8.5rem;
        text-align: center;
    }
    .vsl_area .tit {
        width: 100%;
    }
    .vsl_area .img_box {
        bottom: 3%;
    }
    .vsl_img_1 {
        top: auto;
        bottom: 5.55%;
        right: -18.37%;
        width: 150%;
    }
    .vsl_img_2 {
        left: 0;
        width: 55.85%;
    }
    .vsl_img_3 {
        top: auto;
        bottom: 25%;
        left: -9%;
        width: 65%;
    }
    .vsl_img_4 {
        top: auto;
        bottom: 33.5%;
        right: 21.39%;
        width: 32%;
    }
}
